---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<span>About {{   content | readingTime }} reading time</span>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
